<!DOCTYPE html>
<html lang="ru">
<h1>Home#index</h1>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<body>
<div class="navigate-menu">
	<div class="row">
	<div class="clearfix visible-xs-block"></div>
		
  		<div class="col-xs-12 col-sm-6 col-md-2">Продукция и услуги</div>
  		<div class="col-xs-12 col-sm-6 col-md-2">Примеры внедрения</div>
  		<div class="col-xs-12 col-sm-6 col-md-2">Техническая поддержка</div>
  		<div class="col-xs-12col-sm-6 col-md-2">О предприятии</div>
  		<div class="col-xs-12 col-sm-6 col-md-2">Документация</div>
  		<div class="col-xs-12 col-sm-6 col-md-2">Контакты</div>
  		
</div>
</div>

<div class="container">
<h1>главная</h1>
   
    
</div>
</body>
</html>