

<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Техническая поддержка</h3>
  		</div>
  		<div class="panel-body">

  			<%= render :file => "public/support/support.html" %>
			
		</div>	
	</div>
</div>
